# .GitHub/workloads/main.ymlaaaaa
# ...
on:
  push:
    branches:
      - main
      - feature/aws-k8s-iac
  workflow_dispatch:

jobs:
  deploy_web_service:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4

      # --- ეტაპი 1: Terraform (Provisioning) ---
      
      - name: 2. Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.x
      
      - name: 3. Terraform Init
        run: terraform init -backend=false
        working-directory: terraform-iac
        env: 
          DO_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }} 
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 

      - name: 4. Terraform Plan
        run: terraform plan -input=false
        working-directory: terraform-iac
        env: 
          DO_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: 5. Terraform Apply (Create K8s Cluster) 
        id: apply
        run: terraform apply -auto-approve
        working-directory: terraform-iac
        env: 
          DO_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}



      - name: 9. Terraform Init for Destroy
        if: always()
        run: terraform init 
        working-directory: terraform-iac
        env:
          DO_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            
      # --- ეტაპი 3: Cleanup ---
      
      - name: 10. Terraform Destroy (Cleanup Infrastructure)
        if: always()
        run: terraform destroy 
        env:
          DO_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
