name: CI/CD Pipeline

on:
  push:
    branches:
      - main # გაეშვება, როდესაც კოდი აიტვირთება main ტოტზე
  pull_request:
    branches:
      - main    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # ვიყენებთ GitHub-ის ვირტუალურ სერვერს

    

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # კოდის გადმოწერა
      - name: Check Current Path
        run: pwd
      - name: List Files
        run: ls -R 
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.x # გამოიყენეთ კონკრეტული ვერსია

      # ----------------------------------------------------
      # ეტაპი 1: Docker (Build & Check - CI)
      # ----------------------------------------------------
      - name: Build Docker Image
        run: docker build -t simple-nginx-image . # ვაშენებთ ლოკალურ იმიჯს
        
      - name: Check Docker Image
        run: docker image ls | grep simple-nginx-image
     
      - name: Check Current Path
        run: pwd
      - name: List Files
        run: ls -R
      # ----------------------------------------------------
      # ეტაპი 2: Ansible (Syntax Check - CI)
      # ----------------------------------------------------
      - name: Install Ansible
        run: pip install ansible

      - name: Check Ansible Playbook Syntax
        run: ansible-playbook ansible-cm/docker-deployment.yml --syntax-check -i ansible-cm/inventory.ini

      # ----------------------------------------------------
      # ეტაპი 3: Terraform (Plan - CI)
      # ----------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Add Terraform to PATH (Fix)
        run: echo "$HOME/.terraform.d/bin" >> $GITHUB_PATH
      - name: Terraform Init
        run: terraform init
        working-directory: terraform-iac

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: terraform-iac
        if: always() 
       
        # ეს ეტაპი ამოწმებს, თუ რა შეიცვლება, მაგრამ არ ატარებს apply-ს CI-ს ფარგლებში
      - name: Setup SSH Agent for Deployment
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
          
      - name: Add Ansible Host Dependencies
        run: ssh-keyscan 159.89.31.173 >> ~/.ssh/known_hosts && chmod 600 ~/.ssh/known_hosts
        
      - name: Run Ansible Deployment Playbook
        run: ansible-playbook ansible-cm/docker-deployment.yml -i ansible-cm/inventory.ini -u root
        # იყენებს root მომხმარებელს Droplet-ზე 
