name: CI/CD Pipeline

on:
  push:
    branches:
      - main # გაეშვება, როდესაც კოდი აიტვირთება main ტოტზე
  pull_request:
    branches:
      - main    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # ვიყენებთ GitHub-ის ვირტუალურ სერვერს
    defaults:
      run:
        working-directory: devops-lab
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # კოდის გადმოწერა

      # ----------------------------------------------------
      # ეტაპი 1: Docker (Build & Check - CI)
      # ----------------------------------------------------
      - name: Build Docker Image
        run: docker build -t simple-nginx-image . # ვაშენებთ ლოკალურ იმიჯს
        working-directory: ./devops-lab

      - name: Check Docker Image
        run: docker image ls | grep simple-nginx-image
        
      # ----------------------------------------------------
      # ეტაპი 2: Ansible (Syntax Check - CI)
      # ----------------------------------------------------
      - name: Install Ansible
        run: pip install ansible

      - name: Check Ansible Playbook Syntax
        run: ansible-playbook ansible-cm/docker_deployment.yml --syntax-check -i ansible-cm/hosts

      # ----------------------------------------------------
      # ეტაპი 3: Terraform (Plan - CI)
      # ----------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform-iac

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: ./terraform-iac
        if: always()  
        # ეს ეტაპი ამოწმებს, თუ რა შეიცვლება, მაგრამ არ ატარებს apply-ს CI-ს ფარგლებში
