name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      # ----------------------------------------------------
      # ეტაპი 1: Docker (Build & Check - CI)
      # ----------------------------------------------------
      - name: Build Docker Image
        run: docker build -t simple-nginx-image . 
        
      - name: Check Docker Image
        run: docker image ls | grep simple-nginx-image
        
      # ----------------------------------------------------
      # ეტაპი 2: Terraform (Init & Plan - CI)
      # ----------------------------------------------------
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.x 
          
      - name: Terraform Init
        id: init
        run: terraform init # პროვაიდერების ჩამოსატვირთად
        working-directory: terraform-iac
        
      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: terraform-iac 
        if: always() # გაუშვით ყოველთვის, მაშინაც კი, თუ წინა ნაბიჯი ჩავარდა
        
      # ----------------------------------------------------
      # ეტაპი 3: Ansible (Syntax Check & Deployment - CD)
      # ----------------------------------------------------
      - name: Install Ansible
        run: pip install ansible
        
      - name: Check Ansible Playbook Syntax
        # ინვენტარის ფაილის სახელი გასწორებულია: inventory.ini
        run: ansible-playbook ansible-cm/docker-deployment.yml --syntax-check -i ansible-cm/inventory.ini 
        
      - name: Setup SSH Agent for Deployment
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
          
      - name: Install Ansible Docker Collection
        # კოლექციის ინსტალაცია, რათა docker_container მოდული იქნას ნაპოვნი
        run: ansible-galaxy collection install community.docker
          
      - name: Add Ansible Host Dependencies
        # SSH Host Key-ს დამატება ცნობილ ჰოსტებში
        run: ssh-keyscan 159.89.31.173 >> ~/.ssh/known_hosts && chmod 600 ~/.ssh/known_hosts
          
      - name: Run Ansible Deployment Playbook
        # უშვებს დეპლოიმენტს Droplet-ზე root მომხმარებლით
        run: ansible-playbook ansible-cm/docker-deployment.yml -i ansible-cm/inventory.ini -u root
