# .github/workflows/main.ymlaaaaa
# ...
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy_web_service:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4

      # --- ეტაპი 1: Terraform (Provisioning) ---
      
      - name: 2. Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.x

      # .github/workflows/main.yml (განახლებული ნაბიჯი 2.1)

      - name: 2.1 Install DigitalOcean CLI (doctl) - Fix  
        # ვიყენებთ მზა Action-ს ინსტალაციისთვის
        uses: digitalocean/setup-doctl@v2 
        with:
          # ეს Action თავად აყენებს PATH-ს და აკეთებს auth init-ს!
          token: ${{ secrets.DIGITALOCEAN_TOKEN }} 
          
       # 3. ავთენტიფიკაცია
             
      - name: 3. Terraform Init
        run: terraform init -backend=false -var="do_token=${{ secrets.DIGITALOCEAN_TOKEN }}"
        working-directory: terraform-iac
      
      - name: 4. Terraform Apply (Create K8s Cluster) # ❗️ შეიცვალა Droplet-დან
        id: apply
        run: terraform apply -auto-approve -var="do_token=${{ secrets.DIGITALOCEAN_TOKEN }}"
        working-directory: terraform-iac
        
      - name: 9. Terraform Init for Destroy
        if: always()
        run: terraform init -backend=false -var="do_token=${{ secrets.DIGITALOCEAN_TOKEN }}"
        working-directory: terraform-iac
        
            
      # --- ეტაპი 3: Cleanup ---
      
      - name: 10. Terraform Destroy (Cleanup Infrastructure)
        if: always()
        run: terraform destroy -auto-approve -var="do_token=${{ secrets.DIGITALOCEAN_TOKEN }}"
        working-directory: terraform-iac
